#content1{
    width: 100vw;
    height: 100vh;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#content1 img{
    width: 40%;
}
#top{
    width: 90%;
    margin-bottom: 60px;
}
.integrantes {
    display: flex;    
    justify-content: center;
    align-items: end;
    margin-left: -40px;
}
  
.integrante {
    display: flex;
    flex-direction: column;
    width: 17.5vw;
    height: 25vh;
    background-color: #FFBC00;
    margin-top: 60px;
    margin-right: 20px;
    border-radius: 15px;        
    justify-content: space-evenly;
    align-items: center;
}
.integrante img{
    display: block;
    width: auto;
    height: auto;
    border-radius: 50%;
}
.integrantes p{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}
#content2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.027)), url(/public/rodapé.png);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100vw;
    height: 30vh;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#content2 h2{
    color: #fff;
}
#content2 button{
    border-radius: 15px;
    padding: 20px 30px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background-color: #FFBC00;
    margin-top: 20px;
}